# Executables
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment variables
.env

# Hot reload / build temp
tmp/
.air.toml.bak

# IDE & OS files
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Docker / Logs
*.log
